.app {
  background:#ddd;
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.header {
  background:#6aa84f;
  height: 100px;
  flex: 5 0 100%;
}

.navigation {
  background:#6FA8dc;
  height:300px;
  flex: 1;
}

.main {
  background:#e06666;
  flex: 4;
  display:flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 16px;
}

.subContent{
  height: 200px;
  background:#ffD966;
  flex: 1;
}

.advertisement{
  background:#b4a7d6;
  height: 100px;
  width: 100%;
}