.app {
  text-align: center;
  padding:50px;
}

.box-wrapper{
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: center;
}

.navbar{
  padding: 16px 23px ;
  background: #610c61;
  color: #fff;
  text-align:right;
}

.formWrapper{
  padding: 23px;
}
